/* src/components/MateriasManager.css */
.materias-manager {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2rem;
  align-items: flex-start;
  /* background-color: aqua; */
}

.materias-list, .materias-form {
  margin-top: 10px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 2rem;
  background-color: #d2fff0;
}

.materias-list ul {
  list-style: none;
  padding: 0;
}

.materias-list li {
  padding: .25rem 0;
  border-bottom: 1px solid #3b6855;
}
.materias-list h2, .materias-form h2
{
  margin: 20px;
}
.materias-form form button 
{
  font-size: 1.4rem;
  padding: 5px 10px;
}
.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: .5rem;
  font-size: 1.5rem;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: .875rem;
  margin-top: .25rem;
}
