.admin-layout {
  display: grid;
  grid-template-columns: 2fr 10fr; 
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  grid-template-areas: 
    "menu content";
}
.admin-content {
  grid-area: content;
  padding: 2rem;
  background-color: #f8fafc; /* gris claro */
  overflow-y: auto;
  box-sizing: border-box;
}