:root{
  --black: #090909;
  --white: #fefefe;
  --green: #4aff4a;
  --light-grey: #faf0fa;

  /* blue */
  --light-blue: #94ddf5;
  --dark-blue: #101d38;
  --blue: #142f69;
  --blue: #29b9e9;
  --blue-ocean: #00759c;

  --green-swamp: #255f4c;
  --menu: #5ffad8;
  --warning: #ff421c;
  --bg-one: #dfe8e7;
  --input: #befafb;
  --border-radius: 10px;
  --border-radius-circle: 50%;
}
*, button{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFF6E7;
}