
/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #a9d0d3;
    padding: 20px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .profile {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar .profile img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.sidebar .profile span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.sidebar nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #80b8bb;
    border-radius: 8px;
}

.sidebar nav ul li a:hover {
    background-color: #5b8a8b;
}
